MultiplicationWeb/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MultiplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_MultiplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_NewMultiplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MultiplicationService_MultiplyInt_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyInt" />
  </wsdl:message>
  <wsdl:message name="MultiplicationService_MultiplyInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyIntResponse" />
  </wsdl:message>
  <wsdl:message name="NewMultiplicationService_MultiplyDouble_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDouble" />
  </wsdl:message>
  <wsdl:message name="NewMultiplicationService_MultiplyDouble_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyDoubleResponse" />
  </wsdl:message>
  <wsdl:portType name="MultiplicationService">
    <wsdl:operation name="MultiplyInt">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyInt" message="tns:MultiplicationService_MultiplyInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyIntResponse" message="tns:MultiplicationService_MultiplyInt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NewMultiplicationService">
    <wsdl:operation name="MultiplyInt">
      <wsdl:input wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyInt" message="tns:MultiplicationService_MultiplyInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MultiplicationService/MultiplyIntResponse" message="tns:MultiplicationService_MultiplyInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <wsdl:input wsaw:Action="http://tempuri.org/NewMultiplicationService/MultiplyDouble" message="tns:NewMultiplicationService_MultiplyDouble_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/NewMultiplicationService/MultiplyDoubleResponse" message="tns:NewMultiplicationService_MultiplyDouble_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_MultiplicationService" type="tns:MultiplicationService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_MultiplicationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="MultiplyInt">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_NewMultiplicationService" type="tns:NewMultiplicationService">
    <wsp:PolicyReference URI="#NetTcpBinding_NewMultiplicationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MultiplyInt">
      <soap12:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap12:operation soapAction="http://tempuri.org/NewMultiplicationService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_NewMultiplicationService" type="tns:NewMultiplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiplyInt">
      <soap:operation soapAction="http://tempuri.org/MultiplicationService/MultiplyInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyDouble">
      <soap:operation soapAction="http://tempuri.org/NewMultiplicationService/MultiplyDouble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultiplicationService">
    <wsdl:port name="NetNamedPipeBinding_MultiplicationService" binding="tns:NetNamedPipeBinding_MultiplicationService">
      <soap12:address location="net.pipe://localhost/myNamedPipeEp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/myNamedPipeEp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>GMX\W00114631</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_NewMultiplicationService" binding="tns:NetTcpBinding_NewMultiplicationService">
      <soap12:address location="net.tcp://localhost:6789/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6789/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>GMX\W00114631</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_NewMultiplicationService" binding="tns:BasicHttpBinding_NewMultiplicationService">
      <soap:address location="http://localhost:6790/MyHttpEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>